* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 15px;
}

.view {

}

.view::-webkit-scrollbar {
  width: 0.4rem;
}

.view::-webkit-scrollbar-track {
  border-radius: 2px;
}

.view::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 5px;
}
